# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

# =========================
# Project ignores
# =========================
.vs/
/Debug/
/Release/
/x64/
beng_beng/Debug/
beng_beng/Release/
beng_beng/x64/
beng_beng Engine/Debug/
beng_beng Engine/Release/
beng_beng Engine/x64/
Unit Tests/Debug/
Unit Tests/Release/
Unit Tests/x64/
Unit Tests/x64/UTestData/

Shaders/Back up/



